{% extends 'front.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block body %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="page-header-title">
                        <h1> Ajouter un Ingredient </h1>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index-2.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">E-Commerce</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Product List</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ include('ingredient/_form.html.twig') }}
    </div>
</div>
        </div>

    </div>
</div>


    </div>
    </div>
    </div>
    </div>
    <a href="{{ path('ingredient_index') }}">back to list</a>
{% endblock %}
